<section class="hero">
  <div class="container">
    <h1>Software Developer</h1>
    <p class="subtitle">Building innovative and efficient solutions with 5 years of hands-on experience.</p>
    <div class="social-links">
        <a href="https://github.com/ArdonitSaliji/" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/ardonitsaliji/" target="_blank">LinkedIn</a>
    </div>
  </div>
</section>